# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# CLI test artifacts
test/*.stl
test/*.step

__pycache__

node_modules
dist
dist-ssr
*.local
*.tgz
*.test-output.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.prod
test-results/
build/
release/
out/
*.hdr
diag*.png

# Test coverage
coverage/
docs/patents
docs/analysis
