# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

__pycache__

node_modules
dist
dist-ssr
*.local
*.test-output.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.prod
test-results/
build/
release/
out/
*.hdr
!src/renderer/public/env/*.hdr
docs/outdated/
docs/analysis/
pages/.vitepress/cache/
pages/.vitepress/dist/
resources/
/diag*.pngtest-results/

test-results/
diag*.png

test-results/
diag*.png
*.exr

todo2*.txt
scripts/time_ci.sh.txt
ci-logs/
benchmark/snapshots/*
benchmark/data/*
benchmark/reports/*

.workbuddy

